.sidebar-brand {
   background : #fff;
   color      : #000
}

.simplebar-content, .sidebar-toggler {
   background : #394149;
}

.sidebar-toggler {
   border-top : 2px solid #fff
}

.sidebar-nav .nav-link {
   color : #fff;
}

.header.header-sticky {
   border-bottom : 0;
}

.bg-chart {
   background : #394149;
   color      : #fff;
}

.bg-chart .text-medium-emphasis {
   color : #fff !important;
}

.webkit-line {
   overflow           : hidden;
   display            : -webkit-box;
   -webkit-line-clamp : 1;
   -webkit-box-orient : vertical;
}
.dropdown-menu .dropdown-item{
   max-width: 280px;
}

.table.sensor-table.with-checkbox-column > tbody > tr > th:first-child {
   width: 5px;
}
